<p>@Loser ha perso</p>

<MudButton OnClick="OnRestart">Nuova partita</MudButton>

@code
{
    [Parameter, EditorRequired]
    public required Player Loser { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnRestart { get; set; }
}