<Hint Limits="Limits" />

@if (Player is not null)
{
    <p>@Player, tocca a te!</p>
}

<MudTextField Required="true" Label="Scommetti" @bind-Value=_bet OnKeyUp="Bet" InputType="InputType.Number" />


@code {
    [Parameter]
    public Player? Player { get; set; }

    [Parameter, EditorRequired]
    public required Limits Limits { get; set; }

    [Parameter, EditorRequired]
    public required Func<int, bool> CheckFunc { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<int> OnContinue { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<Player> OnEnd { get; set; }

    private int _bet;

    private async Task Bet(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            var lost = CheckFunc.Invoke(_bet);
            if (lost)
            {
                await OnEnd.InvokeAsync(new Player() { Name = "Peppe" });
            }
            else
            {
                await OnContinue.InvokeAsync(_bet);
            }
        }
    }
}